## ------------------------------------- General
notes/
# diagramming 
*drawio.bkp

## IDES
.vscode/
.idea/

## ------------------------------------- Frontend
# Build output
dist/
build/
node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
*.tsbuildinfo
routeTree.gen.ts

node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
